name: CI Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.12"

      # Install MLflow
      - name: Install dependencies
        run: |
          pip install mlflow==2.12.1
          pip install -r project/requirements.txt || true

      # Run Training
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .

      # Save artifact ke GitHub
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: mlflow-artifacts
          path: project/mlruns

      # Build Docker Image
      - name: MLflow Build Docker Image
        run: |
          cd MLProject
          mlflow models build-docker -m mlruns/0/*/artifacts/model -n workflow-mlflow-image

      # Login ke Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Push Docker Image
      - name: Push Docker Image
        run: |
          docker tag workflow-mlflow-image:latest ${{ secrets.DOCKERHUB_USERNAME }}/workflow-mlflow-image:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/workflow-mlflow-image:latest